@charset "UTF-8";
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
  font-weight: bold;
  font-style: bold;
}
/* 전체설정 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "GmarketSansMedium";
  color: #0d0d0d;
}

body {
  background-color: #fdfdfd;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img {
  vertical-align: bottom;
}

/* smooth-scrollbar 설정 */
body {
  height: 100vh; /* 스크롤이 필요한 높이로 설정 */
  overflow: hidden; /* 기본 스크롤바 숨기기 */
}

#my-scrollbar {
  height: 100vh; /* Smooth Scrollbar 적용할 요소의 높이 설정 */
  overflow: hidden; /* Smooth Scrollbar가 스크롤 관리하므로 숨김 */
}

.content {
  overflow: hidden;
}

.scrollbar-track {
  width: 0.75rem !important;
  z-index: 101 !important;
}

.scrollbar-thumb {
  width: 0.75rem !important;
  background-color: #1a5ae4 !important;
}

/* 텍스트 등장 애니메이션 설정 */
.textAppear1 {
  opacity: 0;
  transform: translateY(3rem);
  transition: transform 1s, opacity 1s;
  transition-delay: 0;
}
.textAppear1.on {
  opacity: 1;
  transform: translateY(0);
}

.textAppear2 {
  opacity: 0;
  transform: translateY(3rem);
  transition: transform 1s, opacity 1s;
  transition-delay: 0.2s;
}
.textAppear2.on {
  opacity: 1;
  transform: translateY(0);
}

.textAppear3 {
  opacity: 0;
  transform: translateY(3rem);
  transition: transform 1s, opacity 1s;
  transition-delay: 0.4s;
}
.textAppear3.on {
  opacity: 1;
  transform: translateY(0);
}

.textAppear4 {
  opacity: 0;
  transform: translateY(3rem);
  transition: transform 1s, opacity 1s;
  transition-delay: 0.6s;
}
.textAppear4.on {
  opacity: 1;
  transform: translateY(0);
}

.textAppear5 {
  opacity: 0;
  transition: opacity 1s;
  transition-delay: 0.8s;
}
.textAppear5.on {
  opacity: 1;
}

/* header 설정 */
header {
  width: 100%;
  height: 5rem;
  position: fixed;
  z-index: 100;
  background-color: #fdfdfd;
}
header .header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1620px;
  margin: 0 auto;
}
header .header-wrap .logo {
  margin-left: 1.875rem;
}
header .header-wrap .logo a img {
  width: 7.063rem;
}
header .header-wrap .menu {
  display: flex;
}
header .header-wrap .menu li {
  font-size: 1rem;
  cursor: pointer;
  line-height: 1;
  margin: 0 1.375rem;
  padding: 0.563rem;
}
header .header-wrap .menu li span {
  color: #7c7c7c;
  padding: 0.563rem;
  position: relative;
  transition: color 0.3s;
}
header .header-wrap .menu li span::after {
  content: "";
  width: 0;
  height: 0.188rem;
  background-color: #1a5ae4;
  opacity: 0.8;
  position: absolute;
  bottom: -0.625rem;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}
header .header-wrap .menu li.on span {
  color: #454545;
}
header .header-wrap .menu li.on span::after {
  width: 100%;
}
header .header-wrap .menu li:hover span {
  color: #454545;
}

/* main 설정 */
main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
main .txtBox {
  width: 86%;
  padding-left: 2rem;
}
main .txtBox .year {
  font-size: 3.125rem;
  font-family: "GmarketSansBold";
  position: relative;
}
main .txtBox .year span {
  display: block;
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
  background-color: #FFC64A;
  position: absolute;
  top: -1.4rem;
  left: -1.7rem;
  z-index: -1;
}
main .txtBox h1 {
  font-size: 5.313rem;
  font-family: "GmarketSansBold";
  margin-bottom: 1rem;
}
main .txtBox h1 b {
  color: #1a5ae4;
  font-family: "GmarketSansBold";
}
main .txtBox h2 {
  font-size: 4rem;
  font-family: "GmarketSansBold";
  margin-bottom: 4.75rem;
}
main .txtBox .description {
  font-size: 1.5rem;
  color: #7c7c7c;
  line-height: 2;
}
main .scrollDown {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
main .scrollDown span {
  font-size: 0.875rem;
  color: #7c7c7c;
  margin-bottom: 0.5rem;
}
main .scrollDown .mouse {
  background-image: url(src/mouse.png);
  background-size: 2.125rem 3.188rem;
  width: 2.125rem;
  height: 3.188rem;
  margin-bottom: 0.5rem;
}
@keyframes arrow1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
main .scrollDown .arrowBox li {
  background-image: url(src/scrollDownArrow.png);
  background-size: 1.75rem 3rem;
  width: 1.75rem;
  height: 1rem;
}
main .scrollDown .arrowBox li:nth-child(1) {
  animation: arrow1 1.2s infinite;
}
main .scrollDown .arrowBox li:nth-child(2) {
  margin-top: -0.375rem;
  background-position: 0 -1rem;
  animation: arrow1 1.2s infinite;
  animation-delay: 0.4s;
}
main .scrollDown .arrowBox li:nth-child(3) {
  margin-top: -6px;
  background-position: 0 -2rem;
  animation: arrow1 1.2s infinite;
  animation-delay: 0.8s;
}
main img {
  position: absolute;
  opacity: 0;
}
main img.main {
  width: 40rem;
  right: -4rem;
  bottom: -24rem;
  transform: translateY(5rem);
  transition: transform 2s, opacity 2s;
}
main img.main.on {
  opacity: 1;
  transform: translateY(0);
}
main img.blur {
  width: 16rem;
  top: 6rem;
  right: 4rem;
  transform: scaleX(-1) translateY(-3rem);
  z-index: -1;
  filter: blur(0.75rem);
  opacity: 0.8;
  transition: transform 1.5s, opacity 1.5s;
}
main img.blur.on {
  opacity: 1;
  transform: scaleX(-1) translateY(0);
}

/* about me 설정 */
.aboutMe {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}
.aboutMe .cardWrap {
  width: 76.5rem;
  margin: 0 1.875rem;
  background-color: rgba(26, 90, 228, 0.07);
  border-radius: 2rem;
  border: 0.125rem solid rgba(238, 243, 255, 0.07);
  backdrop-filter: blur(0.75rem);
  -webkit-backdrop-filter: blur(0.75rem);
}
.aboutMe .cardWrap .txtBox {
  width: 100%;
  height: 100%;
  padding: 7.125rem 9.188rem;
}
.aboutMe .cardWrap .txtBox h3 {
  color: #6796fb;
  font-family: "GmarketSansBold";
  font-size: 2.625rem;
  text-align: center;
  margin-bottom: 4.375rem;
}
.aboutMe .cardWrap .txtBox > p {
  font-size: 1.375rem;
  color: #496092;
  text-align: center;
  line-height: 2;
  margin-bottom: 5.5rem;
}
.aboutMe .cardWrap .txtBox > p i {
  white-space: nowrap;
  font-style: normal;
  color: #496092;
}
.aboutMe .cardWrap .txtBox .bottomBox .box1 .listDepth1 > li {
  margin-bottom: 2.375rem;
}
.aboutMe .cardWrap .txtBox .bottomBox .box1 .listDepth1 > li .listDepth2 {
  display: flex;
}
.aboutMe .cardWrap .txtBox .bottomBox .box1 .listDepth1 > li .listDepth2 li.title {
  font-size: 1.375rem;
  color: #6796fb;
  width: 12.75rem;
}
.aboutMe .cardWrap .txtBox .bottomBox .box1 .listDepth1 > li .listDepth2 li.description {
  font-size: 1.125rem;
  color: #496092;
  line-height: 2.2;
  margin-top: -0.313rem;
}
.aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li {
  margin-bottom: 2.375rem;
}
.aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li p {
  font-size: 1.375rem;
  color: #6796fb;
  margin-bottom: 2.125rem;
}
.aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .listDepth2 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2.125rem;
  max-width: 56rem;
}
.aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .listDepth2 li {
  color: #6796fb;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  background-color: #fdfdfd;
  border-radius: 3rem;
  border: 0.063rem solid #DBE6FF;
  margin-right: 0.625rem;
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
}
.aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .listDepth2 li span {
  color: #6796fb;
  font-size: 1.125rem;
}
.aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .listDepth2 li.icon i {
  background-image: url(src/skillsIcons.png);
  background-size: 20.75rem 1.938rem;
  margin-right: 0.625rem;
}
.aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .listDepth2 li.icon:nth-child(1) i {
  width: 1.063rem;
  height: 1.938rem;
}
.aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .listDepth2 li.icon:nth-child(2) i {
  width: 1.813rem;
  height: 1.903rem;
  background-position: -1.688rem 0;
}
.aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .listDepth2 li.icon:nth-child(3) i {
  width: 1.688rem;
  height: 1.625rem;
  background-position: -4.125rem 0;
}
.aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .listDepth2 li.icon:nth-child(4) i {
  width: 1.063rem;
  height: 1.875rem;
  background-position: -6.438rem 0;
}
.aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .listDepth2 li.icon:nth-child(5) i {
  width: 1.063rem;
  height: 1.875rem;
  background-position: -8.125rem 0;
}
.aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .listDepth2 li.icon:nth-child(6) i {
  width: 1.688rem;
  height: 1.688rem;
  background-position: -9.813rem 0;
}
.aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .listDepth2 li.icon:nth-child(7) i {
  width: 1.688rem;
  height: 1.688rem;
  background-position: -12.125rem 0;
}
.aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .listDepth2 li.icon:nth-child(8) i {
  width: 1.75rem;
  height: 1.75rem;
  background-position: -14.438rem 0;
}
.aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .listDepth2 li.icon:nth-child(9) i {
  width: 1.688rem;
  height: 1.75rem;
  background-position: -16.75rem 0;
}
.aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .listDepth2 li.icon:nth-child(10) i {
  width: 1.688rem;
  height: 1.688rem;
  background-position: -19.063rem 0;
}
.aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li.education .listDepth2 {
  flex-direction: column;
}
.aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li.education .listDepth2 li {
  color: #496092;
  background-color: transparent;
  border: none;
  padding: 0;
  align-items: start;
}
.aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li.education .listDepth2 li::before {
  content: "•";
  color: #496092;
  margin-right: 0.5rem;
  height: 1.313rem;
}
.aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .mobileSkillsInfo {
  margin-top: 1rem;
  display: none;
}
.aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .mobileSkillsInfo li {
  font-size: 1rem;
  color: #496092;
  line-height: 2.2;
  display: flex;
}
.aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .mobileSkillsInfo li::before {
  content: "•";
  color: #496092;
  margin-right: 0.5rem;
}

/* portfolio 설정 */
.portfolio {
  margin-top: 8.438rem;
  margin-bottom: 16rem;
}
.portfolio .container {
  width: 82%;
  max-width: 75rem;
  margin: 0 auto;
}
.portfolio .container h3 {
  font-size: 2.625rem;
  color: #6796fb;
  font-family: "GmarketSansBold";
  text-align: center;
  margin-bottom: 5.375rem;
}
.portfolio .container .list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5.063rem;
}
.portfolio .container .list li {
  font-size: 1rem;
  font-family: "GmarketSansMedium";
  color: #adadad;
  position: relative;
  cursor: pointer;
  line-height: 1.5;
  padding: 0.725rem;
}
.portfolio .container .list li::after {
  content: "";
  display: block;
  width: 0;
  height: 0.188rem;
  background-color: #6796fb;
  opacity: 0.8;
  margin-top: 0.625rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}
.portfolio .container .list li.on {
  color: #6796fb;
}
.portfolio .container .list li.on::after {
  width: 100%;
}
.portfolio .container .list li:hover {
  color: #6796fb;
}
.portfolio .container .contentsBoxWrap .contentsBox {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
}
.portfolio .container .contentsBoxWrap .contentsBox .leftBox {
  width: 40%;
  margin-right: 5rem;
  padding-top: 0.5rem;
  overflow: hidden;
}
.portfolio .container .contentsBoxWrap .contentsBox .leftBox video {
  width: 100%;
  border-radius: 0.625rem;
}
.portfolio .container .contentsBoxWrap .contentsBox .leftBox .btnBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-top: 1.875rem;
  transition: all 0.3s;
}
.portfolio .container .contentsBoxWrap .contentsBox .leftBox .btnBox button {
  font-size: 1rem;
  background-color: #1a5ae4;
  color: #fdfdfd;
  padding: 0.875rem 1.5rem;
  border-radius: 3.125rem;
  border: 0.063rem solid #1a5ae4;
  cursor: pointer;
  transition: all 0.3s;
}
.portfolio .container .contentsBoxWrap .contentsBox .leftBox .btnBox button i {
  color: #fdfdfd;
  transition: all 0.3s;
}
.portfolio .container .contentsBoxWrap .contentsBox .leftBox .btnBox button:hover {
  background-color: #fdfdfd;
  color: #1a5ae4;
}
.portfolio .container .contentsBoxWrap .contentsBox .leftBox .btnBox button:hover i {
  color: #1a5ae4;
}
.portfolio .container .contentsBoxWrap .contentsBox .leftBox .btnBox a {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  background-color: #1a5ae4;
  color: #fdfdfd;
  padding: 0.875rem 1.5rem;
  border-radius: 3.125rem;
  border: 0.063rem solid #1a5ae4;
  cursor: pointer;
  transition: all 0.3s;
}
.portfolio .container .contentsBoxWrap .contentsBox .leftBox .btnBox a i {
  color: #fdfdfd;
  transition: all 0.3s;
}
.portfolio .container .contentsBoxWrap .contentsBox .leftBox .btnBox a:hover {
  background-color: #fdfdfd;
  color: #1a5ae4;
}
.portfolio .container .contentsBoxWrap .contentsBox .leftBox .btnBox a:hover i {
  color: #1a5ae4;
}
.portfolio .container .contentsBoxWrap .contentsBox .leftBox:hover .blur {
  opacity: 1;
}
.portfolio .container .contentsBoxWrap .contentsBox .leftBox:hover .btnBox {
  opacity: 1;
}
.portfolio .container .contentsBoxWrap .contentsBox .txtBox {
  width: 60%;
}
.portfolio .container .contentsBoxWrap .contentsBox .txtBox h4 {
  font-size: 1.875rem;
  color: #496092;
  margin-bottom: 2.625rem;
}
.portfolio .container .contentsBoxWrap .contentsBox .txtBox .detailDepth1 > li {
  margin-bottom: 1.875rem;
}
.portfolio .container .contentsBoxWrap .contentsBox .txtBox .detailDepth1 > li .detailDepth2 {
  display: flex;
}
.portfolio .container .contentsBoxWrap .contentsBox .txtBox .detailDepth1 > li .detailDepth2 .title {
  font-size: 1.375rem;
  font-family: "GmarketSansBold";
  color: #6796fb;
  width: 8.563rem;
}
.portfolio .container .contentsBoxWrap .contentsBox .txtBox .detailDepth1 > li .detailDepth2 .description {
  font-size: 1.125rem;
  font-family: "GmarketSansMedium";
  color: #496092;
}
.portfolio .container .contentsBoxWrap .contentsBox .txtBox .bottomBox p {
  font-size: 1.375rem;
  font-family: "GmarketSansBold";
  color: #6796fb;
  margin-bottom: 1.875rem;
}
.portfolio .container .contentsBoxWrap .contentsBox .txtBox .bottomBox ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 50rem;
  margin-left: 0.875rem;
}
.portfolio .container .contentsBoxWrap .contentsBox .txtBox .bottomBox ul li {
  font-size: 0.875rem;
  font-family: "GmarketSansMedium";
  color: #6796fb;
  padding: 0.625rem 1rem;
  border: 0.063rem solid #DBE6FF;
  border-radius: 3.125rem;
  margin-right: 0.5rem;
  margin-bottom: 0.625rem;
}
.portfolio .container .contentsBoxWrap .contentsBox.work2025 {
  font-size: 1.875rem;
  padding: 10rem;
  color: #7c7c7c;
  display: none;
}

/* contact 설정 */
.contact {
  position: relative;
  height: 45rem;
  overflow: hidden;
}
.contact .ellipse {
  background-color: #1a5ae4;
  width: 159rem;
  height: 74.688rem;
  border-radius: 50%;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.contact .txtBox {
  position: absolute;
  top: 9.875rem;
  left: 50%;
  transform: translate(-50%, 0%);
}
.contact .txtBox h3 {
  color: #fdfdfd;
  font-size: 2.625rem;
  font-family: "GmarketSansBold";
  text-align: center;
  margin-bottom: 6.25rem;
}
.contact .txtBox p {
  color: #fdfdfd;
  font-size: 1.375rem;
  line-height: 2;
  text-align: center;
  margin-bottom: 8.125rem;
}
.contact .txtBox p i {
  white-space: nowrap;
  font-style: normal;
  color: #fdfdfd;
}
.contact .txtBox .mail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .txtBox .mail .link {
  margin-bottom: 2.313rem;
  display: flex;
  align-items: center;
}
.contact .txtBox .mail .link i {
  color: #fdfdfd;
  margin-right: 1.625rem;
  font-size: 2rem;
}
.contact .txtBox .mail .link b {
  color: #fdfdfd;
  font-size: 1.375rem;
  font-family: "GmarketSansBold";
}
.contact .txtBox .mail .copy {
  color: #fdfdfd;
  background-color: #113D9A;
  border: 0.063rem solid #113d9a;
  padding: 0.75rem 0.875rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}
.contact .txtBox .mail .copy:hover {
  background-color: #fdfdfd;
  border: 0.063rem solid #fdfdfd;
  color: #113d9a;
}
.contact .txtBox .copy-message {
  background-color: #fdfdfd;
  box-shadow: 0 0.5rem 0.5rem #0b41b5;
  color: #1a5ae4;
  font-size: 1.125rem;
  border-radius: 0.5rem;
  padding: 2rem;
  white-space: nowrap;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  display: none;
}
.contact .txtBox .copy-message i {
  display: inline-block;
  background-image: url(src/checkIcon.png);
  background-size: 3rem 3rem;
  width: 3rem;
  height: 3rem;
}

/* footer 설정 */
footer {
  background-color: #1a5ae4;
  height: 9.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  color: #fdfdfd;
  text-align: center;
}

/* detailView 설정 */
.detailView {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 8rem;
  background-color: rgba(46, 58, 83, 0.2);
  backdrop-filter: blur(0.75rem);
  -webkit-backdrop-filter: blur(0.75rem);
  display: none;
}
.detailView .imgBox {
  width: 80%;
  height: 90%;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-color: #1a5ae4 #f4f4f4;
  scrollbar-width: thin;
}
.detailView .imgBox::-webkit-scrollbar {
  width: 1rem;
}
.detailView .imgBox::-webkit-scrollbar-track {
  background: #f4f4f4;
}
.detailView .imgBox::-webkit-scrollbar-thumb {
  background: #1a5ae4;
  border-radius: 0.5rem;
  border: 2px solid #f4f4f4;
}
.detailView .imgBox::-webkit-scrollbar-thumb:hover {
  background: #0039b3;
}
.detailView .imgBox img {
  width: 100%;
  display: none;
}
.detailView .imgBox img.on {
  display: block;
}
.detailView button {
  width: 2.625rem;
  height: 2.625rem;
  background: none;
  border: none;
  cursor: pointer;
}
.detailView button i {
  display: block;
  font-size: 2.625rem;
  color: #1a5ae4;
  transition: all 0.3s;
}
.detailView button:hover i {
  color: #0039b3;
}

/* 미디어쿼리 설정 */
/* 데스크탑 구간 */
@media (max-width: 1200px) {
  /* header 설정 */
  header .header-wrap .menu {
    margin-right: 0.813rem;
  }
  header .header-wrap .menu li {
    margin: 0 0.25rem;
  }
  /* main 설정 */
  main .txtBox .year {
    font-size: 2.625rem;
  }
  main .txtBox .year span {
    width: 3.125rem;
    height: 3.125rem;
    top: -1.3rem;
    left: -1.5rem;
  }
  main .txtBox h1 {
    font-size: 3.125rem;
    margin-bottom: 0.75rem;
  }
  main .txtBox h2 {
    font-size: 3.125rem;
  }
  main .txtBox .description {
    font-size: 1.375rem;
  }
  main img.main {
    width: 26rem;
    right: -10rem;
    bottom: -12rem;
  }
  main img.blur {
    width: 10rem;
  }
  /* about me 설정 */
  .aboutMe {
    margin-top: 2rem;
  }
  .aboutMe .cardWrap .txtBox {
    padding: 5rem 4rem;
  }
  .aboutMe .cardWrap .txtBox h3 {
    font-size: 2.125rem;
  }
  .aboutMe .cardWrap .txtBox > p {
    font-size: 1.25rem;
  }
  .aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .listDepth2 li {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
  }
  .aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .listDepth2 li span {
    font-size: 1rem;
  }
  .aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .listDepth2 li.icon i {
    transform: scale(0.9);
  }
  /* portfolio 설정 */
  .portfolio .container {
    width: 92%;
  }
  .portfolio .container h3 {
    font-size: 2.125rem;
    margin-bottom: 3.125rem;
  }
  .portfolio .container .contentsBoxWrap .contentsBox {
    margin-bottom: 7rem;
  }
  .portfolio .container .contentsBoxWrap .contentsBox .leftBox {
    width: 42%;
    margin-right: 2rem;
  }
  .portfolio .container .contentsBoxWrap .contentsBox .leftBox .btnBox {
    flex-direction: column;
    gap: 0.5rem;
  }
  .portfolio .container .contentsBoxWrap .contentsBox .leftBox .btnBox button {
    width: 90%;
  }
  .portfolio .container .contentsBoxWrap .contentsBox .leftBox .btnBox a {
    width: 90%;
  }
  .portfolio .container .contentsBoxWrap .contentsBox .txtBox {
    width: 58%;
  }
  .portfolio .container .contentsBoxWrap .contentsBox .txtBox .detailDepth1 > li .detailDepth2 .title {
    font-size: 1.125rem;
    width: 6.25rem;
  }
  .portfolio .container .contentsBoxWrap .contentsBox .txtBox .detailDepth1 > li .detailDepth2 .description {
    font-size: 1rem;
  }
  .portfolio .container .contentsBoxWrap .contentsBox .txtBox .bottomBox p {
    font-size: 1.125rem;
  }
  .portfolio .container .contentsBoxWrap .contentsBox.work2025 {
    font-size: 1.25rem;
    padding: 1rem;
  }
  /* contact 설정 */
  .contact .txtBox p {
    margin-bottom: 6.25rem;
  }
}
/* 태블릿 구간 */
@media (max-width: 768px) {
  /* smooth-scrollbar 설정 */
  .scrollbar-track {
    width: 0.375rem !important;
  }
  .scrollbar-thumb {
    width: 0.375rem !important;
  }
  /* header 설정 */
  header {
    height: 7.6rem;
  }
  header .header-wrap {
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
  }
  header .header-wrap .logo {
    transform: scale(0.9);
  }
  header .header-wrap .menu {
    margin-right: 0;
  }
  header .header-wrap .menu li {
    font-size: 0.875rem;
    padding: 0.25rem;
  }
  /* main 설정 */
  main .txtBox {
    width: auto;
    padding-left: 0;
  }
  main .txtBox .year {
    font-size: 1.875rem;
    margin-bottom: 0.625rem;
    text-align: center;
  }
  main .txtBox .year span {
    width: 2rem;
    height: 2rem;
    top: -0.6rem;
    left: 8.2rem;
  }
  main .txtBox h1 {
    font-size: 2rem;
    text-align: center;
  }
  main .txtBox h2 {
    font-size: 2.625rem;
    text-align: center;
  }
  main .txtBox .description {
    font-size: 1rem;
    text-align: center;
  }
  main .scrollDown span {
    font-size: 0.75rem;
  }
  main .scrollDown .mouse {
    transform: scale(0.8);
    margin-bottom: 0.25rem;
  }
  main .scrollDown .arrowBox li {
    transform: scale(0.8);
  }
  main img.main {
    width: 18rem;
    right: -7rem;
    bottom: -9rem;
  }
  main img.blur {
    width: 6.5rem;
    left: 2rem;
    filter: blur(0.5rem);
  }
  /* about me 설정 */
  .aboutMe {
    margin-top: 1rem;
  }
  .aboutMe .cardWrap .txtBox {
    padding: 4.375rem 1.25rem;
  }
  .aboutMe .cardWrap .txtBox h3 {
    font-size: 1.875rem;
    margin-bottom: 2.5rem;
  }
  .aboutMe .cardWrap .txtBox > p {
    font-size: 1rem;
    margin-bottom: 2.5rem;
  }
  .aboutMe .cardWrap .txtBox .bottomBox .box1 .listDepth1 {
    display: flex;
    flex-wrap: wrap;
  }
  .aboutMe .cardWrap .txtBox .bottomBox .box1 .listDepth1 > li .listDepth2 {
    flex-direction: column;
  }
  .aboutMe .cardWrap .txtBox .bottomBox .box1 .listDepth1 > li .listDepth2 li.title {
    font-size: 1rem;
  }
  .aboutMe .cardWrap .txtBox .bottomBox .box1 .listDepth1 > li .listDepth2 li.description {
    font-size: 0.875rem;
    margin-top: 0.625rem;
    margin-left: 0.75rem;
  }
  .aboutMe .cardWrap .txtBox .bottomBox .box1 .listDepth1 > li.name {
    width: 50%;
  }
  .aboutMe .cardWrap .txtBox .bottomBox .box1 .listDepth1 > li.birth {
    width: 50%;
  }
  .aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li.skills {
    margin-bottom: 0;
  }
  .aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li p {
    font-size: 1rem;
    margin-bottom: 0.875rem;
  }
  .aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .listDepth2 {
    margin-left: 0.75rem;
  }
  .aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .listDepth2 li {
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
    margin-right: 0.375rem;
  }
  .aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .listDepth2 li span {
    display: none;
  }
  .aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .listDepth2 li.icon {
    background-color: transparent;
    border: none;
    margin-right: 0;
    margin-bottom: 0;
  }
  .aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .listDepth2 li.icon i {
    transform: scale(0.8);
    margin-right: 0;
  }
  .aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li.education .listDepth2 li {
    font-size: 0.875rem;
  }
  .aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .mobileSkillsInfo {
    display: block;
  }
  .aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .mobileSkillsInfo li {
    font-size: 0.875rem;
  }
  /* portfolio 설정 */
  .portfolio {
    margin-bottom: 6rem;
  }
  .portfolio .container {
    width: auto;
    margin: 0 1.875rem;
  }
  .portfolio .container h3 {
    font-size: 1.875rem;
    margin-bottom: 2.5rem;
    padding-top: 4rem;
  }
  .portfolio .container .list {
    margin-bottom: 2.5rem;
  }
  .portfolio .container .contentsBoxWrap .contentsBox {
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
  }
  .portfolio .container .contentsBoxWrap .contentsBox .leftBox {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .portfolio .container .contentsBoxWrap .contentsBox .leftBox .btnBox {
    flex-direction: row;
    gap: 0.625rem;
  }
  .portfolio .container .contentsBoxWrap .contentsBox .leftBox .btnBox button {
    font-size: 0.875rem;
    padding: 0.75rem 1.125rem;
  }
  .portfolio .container .contentsBoxWrap .contentsBox .leftBox .btnBox a {
    font-size: 0.875rem;
    padding: 0.75rem 1.125rem;
  }
  .portfolio .container .contentsBoxWrap .contentsBox .txtBox {
    width: 100%;
  }
  .portfolio .container .contentsBoxWrap .contentsBox .txtBox h4 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .portfolio .container .contentsBoxWrap .contentsBox .txtBox .detailDepth1 > li {
    margin-bottom: 1.125rem;
  }
  .portfolio .container .contentsBoxWrap .contentsBox .txtBox .detailDepth1 > li .detailDepth2 .title {
    font-size: 1rem;
    width: 6rem;
    line-height: 1.5;
  }
  .portfolio .container .contentsBoxWrap .contentsBox .txtBox .detailDepth1 > li .detailDepth2 .description {
    font-size: 1rem;
    line-height: 1.5;
  }
  .portfolio .container .contentsBoxWrap .contentsBox .txtBox .bottomBox p {
    font-size: 1rem;
    margin-bottom: 1.125rem;
  }
  .portfolio .container .contentsBoxWrap .contentsBox .txtBox .bottomBox ul li {
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
    margin-right: 0.375rem;
  }
  .portfolio .container .contentsBoxWrap .contentsBox.work2025 {
    font-size: 1.125rem;
    padding: 1rem;
  }
  /* contact 설정 */
  .contact {
    height: 37.5rem;
  }
  .contact .ellipse {
    width: 90rem;
    height: 60rem;
  }
  .contact .txtBox h3 {
    font-size: 1.875rem;
    margin-bottom: 2.5rem;
  }
  .contact .txtBox p {
    font-size: 1rem;
    margin-bottom: 4rem;
  }
  .contact .txtBox .mail .link i {
    font-size: 1.375rem;
  }
  .contact .txtBox .mail .link b {
    font-size: 1rem;
  }
  .contact .txtBox .mail .copy {
    font-size: 0.875rem;
  }
  .contact .txtBox .copy-message {
    font-size: 1rem;
    padding: 1rem;
  }
  .contact .txtBox .copy-message i {
    transform: scale(0.8);
  }
  /* footer 설정 */
  footer {
    height: 6.875rem;
  }
  footer p {
    font-size: 0.75rem;
  }
  /* detailView 설정 */
  .detailView {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}
/* 모바일 구간 */
@media (max-width: 440px) {
  /* header 설정 */
  header .header-wrap .logo {
    margin-left: 1.375rem;
  }
  header .header-wrap .menu li {
    font-size: 0.75rem;
  }
  header .header-wrap .menu li span {
    padding: 0;
  }
  header .header-wrap .menu li span::after {
    height: 0.125rem;
  }
  /* main 설정 */
  main .txtBox {
    padding-left: 0;
  }
  main .txtBox .year {
    font-size: 1.375rem;
  }
  main .txtBox .year span {
    width: 1.5rem;
    height: 1.5rem;
    left: 6.2rem;
  }
  main .txtBox h1 {
    font-size: 1.5rem;
  }
  main .txtBox h2 {
    font-size: 1.875rem;
  }
  main .txtBox .description {
    font-size: 0.875rem;
  }
  main img.main {
    width: 13rem;
    right: -4rem;
    bottom: -3rem;
  }
  main img.blur {
    width: 6rem;
  }
  /* about me 설정 */
  .aboutMe .cardWrap {
    margin: 0 1.375rem;
  }
  .aboutMe .cardWrap .txtBox h3 {
    font-size: 1.5rem;
  }
  .aboutMe .cardWrap .txtBox > p {
    font-size: 0.875rem;
  }
  .aboutMe .cardWrap .txtBox .bottomBox .box2 .listDepth1 > li .mobileSkillsInfo li {
    font-size: 0.75rem;
  }
  /* portfolio 설정 */
  .portfolio .container {
    margin: 0 1.375rem;
  }
  .portfolio .container h3 {
    font-size: 1.5rem;
  }
  .portfolio .container .contentsBoxWrap .contentsBox .leftBox .btnBox button {
    font-size: 0.75rem;
  }
  .portfolio .container .contentsBoxWrap .contentsBox .leftBox .btnBox a {
    font-size: 0.75rem;
  }
  .portfolio .container .contentsBoxWrap .contentsBox .txtBox h4 {
    font-size: 1.375rem;
  }
  .portfolio .container .contentsBoxWrap .contentsBox .txtBox .detailDepth1 > li .detailDepth2 .title {
    font-size: 0.875rem;
    width: 5rem;
  }
  .portfolio .container .contentsBoxWrap .contentsBox .txtBox .detailDepth1 > li .detailDepth2 .description {
    font-size: 0.875rem;
  }
  .portfolio .container .contentsBoxWrap .contentsBox .txtBox .bottomBox p {
    font-size: 0.875rem;
  }
  .portfolio .container .contentsBoxWrap .contentsBox.work2025 {
    font-size: 1rem;
    padding: 1rem;
  }
  /* contact 설정 */
  .contact {
    height: 37.5rem;
  }
  .contact .ellipse {
    width: 70rem;
    height: 40rem;
  }
  .contact .txtBox {
    top: 10.625rem;
  }
  .contact .txtBox h3 {
    font-size: 1.5rem;
  }
  .contact .txtBox .copy-message {
    font-size: 0.875rem;
  }
  /* detailView 설정 */
  .detailView button i {
    font-size: 2.25rem;
  }
}/*# sourceMappingURL=style.css.map */