@charset "utf-8";

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: bold;
    font-style: bold;
}

// 변수설정
$font-family-medium: 'GmarketSansMedium';
$font-family-bold: 'GmarketSansBold';
$font-size-42: 2.625rem;
$font-size-32: 2rem;
$font-size-30: 1.875rem;
$font-size-24: 1.5rem;
$font-size-22: 1.375rem;
$font-size-20: 1.25rem;
$font-size-18: 1.125rem;
$font-size-16: 1rem;
$font-size-14: 0.875rem;
$font-size-12: 0.75rem;
$color-blue-main: #1a5ae4;
$color-yellow-main: #FFC64A;
$color-blue-title: #6796fb;
$color-blue-text: #496092;
$color-gray-text: #7c7c7c;



/* 전체설정 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-family-medium;
    color: #0d0d0d;
}
body {
    background-color: #fdfdfd;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
ul,ol {
    list-style: none;
}
img {
    vertical-align: bottom;
}

/* smooth-scrollbar 설정 */
body {
    height: 100vh; /* 스크롤이 필요한 높이로 설정 */
    overflow: hidden; /* 기본 스크롤바 숨기기 */
}
#my-scrollbar {
    height: 100vh; /* Smooth Scrollbar 적용할 요소의 높이 설정 */
    overflow: hidden; /* Smooth Scrollbar가 스크롤 관리하므로 숨김 */
}
.content {
    overflow: hidden;
}
.scrollbar-track {
    width: 0.75rem !important; 
    z-index: 101 !important; 
}
.scrollbar-thumb {
    width: 0.75rem !important; 
    background-color: $color-blue-main !important; 
}

/* 텍스트 등장 애니메이션 설정 */
@mixin textHidden($delay) {
    opacity: 0;
    transform: translateY(3rem);
    transition: transform 1s, opacity 1s;
    transition-delay: $delay;
}
@mixin textAppear {
    opacity: 1;
    transform: translateY(0);
}
.textAppear1 {
    @include textHidden(0);
    &.on {
        @include textAppear;
    }
}
.textAppear2 {
    @include textHidden(0.2s);
    &.on {
        @include textAppear;
    }
}
.textAppear3 {
    @include textHidden(0.4s);
    &.on {
        @include textAppear;
    }
}
.textAppear4 {
    @include textHidden(0.6s);
    &.on {
        @include textAppear;
    }
}
.textAppear5 {
    opacity: 0;
    transition: opacity 1s;
    transition-delay: 0.8s;
    &.on {
        opacity: 1;
    }
}

/* header 설정 */
header {
    width: 100%;
    height: 5rem;
    position: fixed;
    z-index: 100;
    background-color: #fdfdfd;
    .header-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        max-width: 1620px;
        margin: 0 auto;
        .logo {
            margin-left: 1.875rem;
            a {
                img {
                    width: 7.063rem;
                }
            }
        }
        .menu {
            display: flex;
            li {
                font-size: $font-size-16;
                cursor: pointer;
                line-height: 1;
                margin: 0 1.375rem;
                padding: 0.563rem;
                span {
                    color: $color-gray-text;
                    padding: 0.563rem;
                    position: relative;
                    transition: color 0.3s; // 색상 전환
                    &::after {
                        content: "";
                        width: 0; // 초기 넓이는 0
                        height: 0.188rem;
                        background-color: $color-blue-main;
                        opacity: 0.8;
                        position: absolute;
                        bottom: -0.625rem;
                        left: 50%;
                        transform: translateX(-50%);
                        transition: width 0.3s ease; // 넓이 전환
                    }
                }
                &.on {
                    span {
                        color: #454545;
                        &::after {
                            width: 100%; // 넓이를 100%로 변경
                        }
                    }
                }
                &:hover {
                    span {
                        color: #454545;
                    }
                }
            }
        }
    }
}

/* main 설정 */
main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .txtBox {
        width: 86%;
        padding-left: 2rem;
        .year {
            font-size: 3.125rem;
            font-family: $font-family-bold;
            position: relative;
            span {
                display: block;
                border-radius: 50%;
                width: 3.75rem;
                height: 3.75rem;
                background-color: $color-yellow-main;
                position: absolute;
                top: -1.4rem;
                left: -1.7rem;
                z-index: -1;
            }
        }
        h1 {
            font-size: 5.313rem;
            font-family: $font-family-bold;
            margin-bottom: 1rem;
            b {
                color: $color-blue-main;
                font-family: $font-family-bold;
            }
        }
        h2 {
            font-size: 4rem;
            font-family: $font-family-bold;
            margin-bottom: 4.75rem;
        }
        .description {
            font-size: $font-size-24;
            color: $color-gray-text;
            line-height: 2;
        }
    }
    .scrollDown {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        span {
            font-size: $font-size-14;
            color: $color-gray-text;
            margin-bottom: 0.5rem;
        }
        .mouse {
            background-image: url(src/mouse.png);
            background-size: 2.125rem 3.188rem;
            width: 2.125rem;
            height: 3.188rem;
            margin-bottom: 0.5rem;
        }
        @keyframes arrow1 {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
        .arrowBox {
            li {
                background-image: url(src/scrollDownArrow.png);
                background-size: 1.75rem 3rem;
                width: 1.75rem;
                height: 1rem;
                &:nth-child(1) {
                    animation: arrow1 1.2s infinite;
                }
                &:nth-child(2) {
                    margin-top: -0.375rem;
                    background-position: 0 -1rem;
                    animation: arrow1 1.2s infinite;
                    animation-delay: 0.4s;
                }
                &:nth-child(3) {
                    margin-top: -6px;
                    background-position: 0 -2rem;
                    animation: arrow1 1.2s infinite;
                    animation-delay: 0.8s;
                }
            }
        }
    }
    img {
        position: absolute;
        opacity: 0;
        &.main {
            width: 40rem;
            right: -4rem;
            bottom: -24rem;
            transform: translateY(5rem);
            transition: transform 2s,opacity 2s;
            &.on {
                opacity: 1;
                transform: translateY(0);
            }
        }
        &.blur {
            width: 16rem;
            top: 6rem;
            right: 4rem;
            transform: scaleX(-1) translateY(-3rem);
            z-index: -1;
            filter: blur(0.75rem);
            opacity: 0.8;
            transition: transform 1.5s,opacity 1.5s;
            &.on {
                opacity: 1;
                transform: scaleX(-1) translateY(0);
            }
        }
    }
}

/* about me 설정 */
.aboutMe {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    .cardWrap {
        width: 76.5rem;
        // height: 72rem;
        margin: 0 1.875rem;
        background-color: rgba(26, 90, 228, 0.07);
        border-radius: 2rem;
        border: 0.125rem solid rgba(238, 243, 255, 0.07);
        backdrop-filter: blur($font-size-12);
        -webkit-backdrop-filter: blur($font-size-12);
        .txtBox {
            width: 100%;
            height: 100%;
            padding: 7.125rem 9.188rem;
            h3 {
                color: $color-blue-title;
                font-family: $font-family-bold;
                font-size: $font-size-42;
                text-align: center;
                margin-bottom: 4.375rem;
            }
            > p {
                font-size: $font-size-22;
                color: $color-blue-text;
                text-align: center;
                line-height: 2;
                margin-bottom: 5.5rem;
                i {
                    white-space: nowrap;
                    font-style: normal;
                    color: $color-blue-text;
                }
            }
            .bottomBox {
                .box1 {
                    .listDepth1 {
                        > li {
                            margin-bottom: 2.375rem;
                            .listDepth2 {
                                display: flex;
                                li {
                                    &.title {
                                        font-size: $font-size-22;
                                        color: $color-blue-title;
                                        width: 12.75rem;
                                    }
                                    &.description {
                                        font-size: $font-size-18;
                                        color: $color-blue-text;
                                        line-height: 2.2;
                                        margin-top: -0.313rem;
                                    }
                                }
                            }
                        }
                    }
                }
                .box2 {
                    .listDepth1 {
                        > li {
                            margin-bottom: 2.375rem;
                            p {
                                font-size: $font-size-22;
                                color: $color-blue-title;
                                margin-bottom: 2.125rem;
                            }
                            .listDepth2 {
                                display: flex;
                                flex-wrap: wrap;
                                margin-left: 2.125rem;
                                max-width: 56rem;
                                li {
                                    color: $color-blue-title;
                                    font-size: $font-size-18;
                                    padding: 1rem 1.5rem;
                                    background-color: #fdfdfd;
                                    border-radius: 3rem;
                                    border: 0.063rem solid #DBE6FF;
                                    margin-right: 0.625rem;
                                    margin-bottom: 0.75rem;
                                    display: flex;
                                    align-items: center;
                                    span {
                                        color: $color-blue-title;
                                        font-size: $font-size-18;
                                    }
                                    &.icon {
                                        i {
                                            background-image: url(src/skillsIcons.png);
                                            background-size: 20.75rem 1.938rem;
                                            margin-right: 0.625rem;
                                        }
                                        &:nth-child(1) {
                                            i {
                                                width: 1.063rem;
                                                height: 1.938rem;
                                            }
                                        }
                                        &:nth-child(2) {
                                            i {
                                                width: 1.813rem;
                                                height: 1.903rem;
                                                background-position: -1.688rem 0;
                                            }
                                        }
                                        &:nth-child(3) {
                                            i {
                                                width: 1.688rem;
                                                height: 1.625rem;
                                                background-position: -4.125rem 0;
                                            }
                                        }
                                        &:nth-child(4) {
                                            i {
                                                width: 1.063rem;
                                                height: 1.875rem;
                                                background-position: -6.438rem 0;
                                            }
                                        }
                                        &:nth-child(5) {
                                            i {
                                                width: 1.063rem;
                                                height: 1.875rem;
                                                background-position: -8.125rem 0;
                                            }
                                        }
                                        &:nth-child(6) {
                                            i {
                                                width: 1.688rem;
                                                height: 1.688rem;
                                                background-position: -9.813rem 0;
                                            }
                                        }
                                        &:nth-child(7) {
                                            i {
                                                width: 1.688rem;
                                                height: 1.688rem;
                                                background-position: -12.125rem 0;
                                            }
                                        }
                                        &:nth-child(8) {
                                            i {
                                                width: 1.75rem;
                                                height: 1.75rem;
                                                background-position: -14.438rem 0;
                                            }
                                        }
                                        &:nth-child(9) {
                                            i {
                                                width: 1.688rem;
                                                height: 1.75rem;
                                                background-position: -16.75rem 0;
                                            }
                                        }
                                        &:nth-child(10) {
                                            i {
                                                width: 1.688rem;
                                                height: 1.688rem;
                                                background-position: -19.063rem 0;
                                            }
                                        }
                                    }
                                }
                            }
                            &.education {
                                .listDepth2 {
                                    flex-direction: column;
                                    li {
                                        color: $color-blue-text;
                                        background-color: transparent;
                                        border: none;
                                        padding: 0;
                                        align-items: start;
                                        &::before {
                                            content: "•";
                                            color: $color-blue-text;
                                            margin-right: 0.5rem;
                                            height: 1.313rem;
                                        }
                                    }
                                }
                            }
                            .mobileSkillsInfo {
                                margin-top: 1rem;
                                display: none;
                                li {
                                    font-size: $font-size-16;
                                    color: $color-blue-text;
                                    line-height: 2.2;
                                    display: flex;
                                    &::before {
                                        content: "•";
                                        color: $color-blue-text;
                                        margin-right: 0.5rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* portfolio 설정 */
.portfolio {
    margin-top: 8.438rem;
    margin-bottom: 16rem;
    .container {
        width: 82%;
        max-width: 75rem;
        margin: 0 auto;
        h3 {
            font-size: $font-size-42;
            color: $color-blue-title;
            font-family: $font-family-bold;
            text-align: center;
            margin-bottom: 5.375rem;
        }
        .list {
            display: flex;
            justify-content: center;
            gap: 2rem;
            margin-bottom: 5.063rem;
            li {
                font-size: $font-size-16;
                font-family: $font-family-medium;
                color: #adadad;
                position: relative;
                cursor: pointer;
                line-height: 1.5;
                padding: 0.725rem;
                &::after {
                    content: "";
                    display: block;
                    width: 0;
                    height: 0.188rem;
                    background-color: $color-blue-title;
                    opacity: 0.8;
                    margin-top: 0.625rem;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: width 0.3s ease;
                }
                &.on {
                    color: $color-blue-title;
                    &::after {
                        width: 100%;
                    }
                }
                &:hover {
                    color: $color-blue-title;
                }
            }
        }
        .contentsBoxWrap {
            .contentsBox {
                display: flex;
                justify-content: center;
                margin-bottom: 10rem;
                .leftBox {
                    width: 40%;
                    margin-right: 5rem;
                    padding-top: 0.5rem;
                    overflow: hidden;
                    video {
                        width: 100%;
                        border-radius: 0.625rem;
                        source {}
                    }
                    .btnBox {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1rem;
                        width: 100%;
                        margin-top: 1.875rem;
                        transition: all 0.3s;
                        button {
                            font-size: $font-size-16;
                            background-color: $color-blue-main;
                            color: #fdfdfd;
                            padding: 0.875rem 1.5rem;
                            border-radius: 3.125rem;
                            border: 0.063rem solid $color-blue-main;
                            cursor: pointer;
                            transition: all 0.3s;
                            i {
                                color: #fdfdfd;
                                transition: all 0.3s;
                            }
                            &:hover {
                                background-color: #fdfdfd;
                                color: $color-blue-main;
                                i {
                                    color: $color-blue-main;
                                }
                            }
                        }
                        a {
                            display: flex;
                            justify-content: center;
                            gap: 0.5rem;
                            font-size: $font-size-16;
                            background-color: $color-blue-main;
                            color: #fdfdfd;
                            padding: 0.875rem 1.5rem;
                            border-radius: 3.125rem;
                            border: 0.063rem solid $color-blue-main;
                            cursor: pointer;
                            transition: all 0.3s;
                            i {
                                color: #fdfdfd;
                                transition: all 0.3s;
                            }
                            &:hover {
                                background-color: #fdfdfd;
                                color: $color-blue-main;
                                i {
                                    color: $color-blue-main;
                                }
                            }
                        }
                    }
                    &:hover {
                        .blur {
                            opacity: 1;
                        }
                        .btnBox {
                            opacity: 1;
                        }
                    }
                }
                .txtBox {
                    width: 60%;
                    h4 {
                        font-size: $font-size-30;
                        color: $color-blue-text;
                        margin-bottom: 2.625rem;
                    }
                    .detailDepth1 {
                        > li {
                            margin-bottom: 1.875rem;
                            .detailDepth2 {
                                display: flex;
                                .title {
                                    font-size: $font-size-22;
                                    font-family: $font-family-bold;
                                    color: $color-blue-title;
                                    width: 8.563rem;
                                }
                                .description {
                                    font-size: $font-size-18;
                                    font-family: $font-family-medium;
                                    color: $color-blue-text;
                                }
                            }
                        }
                    }
                    .bottomBox {
                        p {
                            font-size: $font-size-22;
                            font-family: $font-family-bold;
                            color: $color-blue-title;
                            margin-bottom: 1.875rem;
                        }
                        ul {
                            display: flex;
                            flex-wrap: wrap;
                            max-width: 50rem;
                            margin-left: 0.875rem;
                            li {
                                font-size: $font-size-14;
                                font-family: $font-family-medium;
                                color: $color-blue-title;
                                padding: 0.625rem 1rem;
                                border: 0.063rem solid #DBE6FF;
                                border-radius: 3.125rem;
                                margin-right: 0.5rem;
                                margin-bottom: 0.625rem;
                            }
                        }
                    }
                }
                &.work2025 {
                    font-size: $font-size-30;
                    padding: 10rem;
                    color: $color-gray-text;
                    display: none;
                }
            }
        }   
    }
}

/* contact 설정 */
.contact {
    position: relative;
    height: 45rem;
    overflow: hidden;
    .ellipse {
        background-color: $color-blue-main;
        width: 159rem;
        height: 74.688rem;
        border-radius: 50%;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .txtBox {
        position: absolute;
        top: 9.875rem;
        left: 50%;
        transform: translate(-50%, 0%);
        h3 {
            color: #fdfdfd;
            font-size: $font-size-42;
            font-family: $font-family-bold;
            text-align: center;
            margin-bottom: 6.25rem;
        }
        p {
            color: #fdfdfd;
            font-size: $font-size-22;
            line-height: 2;
            text-align: center;
            margin-bottom: 8.125rem;
            i {
                white-space: nowrap;
                font-style: normal;
                color: #fdfdfd;
            }
        }
        .mail {
            display: flex;
            flex-direction: column;
            align-items: center;
            .link {
                margin-bottom: 2.313rem;
                display: flex;
                align-items: center;
                i {
                    color: #fdfdfd;
                    margin-right: 1.625rem;
                    font-size: $font-size-32;
                }
                b {
                    color: #fdfdfd;
                    font-size: $font-size-22;
                    font-family: $font-family-bold;
                }
            }
            .copy {
                color: #fdfdfd;
                background-color: #113D9A;
                border: 0.063rem solid #113d9a;
                padding: 0.75rem 0.875rem;
                border-radius: 0.25rem;
                font-size: $font-size-16;
                cursor: pointer;
                transition: all 0.3s;
                &:hover {
                    background-color: #fdfdfd;
                    border: 0.063rem solid #fdfdfd;
                    color: #113d9a;
                }
            }
        }
        .copy-message {
            background-color: #fdfdfd;
            box-shadow: 0 0.5rem 0.5rem rgba($color: #0b41b5, $alpha: 1.0);
            color: $color-blue-main;
            font-size: $font-size-18;
            border-radius: 0.5rem;
            padding: 2rem;
            white-space: nowrap;
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            display: none;
            i {
                display: inline-block;
                background-image: url(src/checkIcon.png);
                background-size: 3rem 3rem;
                width: 3rem;
                height: 3rem;
            }
        }
    }
}

/* footer 설정 */
footer {
    background-color: $color-blue-main;
    height: 9.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        color: #fdfdfd;
        text-align: center;
    }
}

/* detailView 설정 */
.detailView {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 8rem;
    background-color: rgba($color: #2e3a53, $alpha: 0.2);
    backdrop-filter: blur($font-size-12);
    -webkit-backdrop-filter: blur($font-size-12);
    display: none;
    .imgBox {
        width: 80%;
        height: 90%;
        overflow-x: hidden;
        overflow-y: scroll;
        // 웹킷 브라우저 스크롤바 스타일
        &::-webkit-scrollbar {
            width: 1rem; 
        }
        &::-webkit-scrollbar-track {
            background: #f4f4f4;
        }
        &::-webkit-scrollbar-thumb {
            background: $color-blue-main;
            border-radius: 0.5rem;
            border: 2px solid #f4f4f4;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #0039b3;
        }
        // Firefox 스크롤바 스타일
        scrollbar-color: $color-blue-main #f4f4f4;
        scrollbar-width: thin;
        img {
            width: 100%;
            display: none;
            &.on {
                display: block;
            }
        }
    }
    button {
        width: 2.625rem;
        height: 2.625rem;
        background: none;
        border: none;
        cursor: pointer;
        i {
            display: block;
            font-size: $font-size-42;
            color: $color-blue-main;
            transition: all 0.3s;
        }
        &:hover {
            i {
                color: #0039b3;
            }
        }
    }
}



/* 미디어쿼리 설정 */
/* 데스크탑 구간 */
@media (max-width:1200px) { 
    /* header 설정 */
    header {
        .header-wrap {
            .menu {
                margin-right: 0.813rem;
                li {
                    margin: 0 0.25rem;
                }
            }
        }
    }
    /* main 설정 */
    main {
        .txtBox {
            .year {
                font-size: $font-size-42;
                span {
                    width: 3.125rem;
                    height: 3.125rem;
                    top: -1.3rem;
                    left: -1.5rem;
                }
            }
            h1 {
                font-size: 3.125rem;
                margin-bottom: $font-size-12;
            }
            h2 {
                font-size: 3.125rem;
            }
            .description {
                font-size: $font-size-22;
            }
        }
        img {
            &.main {
                width: 26rem;
                right: -10rem;
                bottom: -12rem;
            }
            &.blur {
                width: 10rem;
            }
        }
    }
    /* about me 설정 */
    .aboutMe {
        margin-top: 2rem;
        .cardWrap {
            .txtBox {
                padding: 5rem 4rem;
                h3 {
                    font-size: 2.125rem;
                }
                > p {
                    font-size: $font-size-20;
                }
                .bottomBox {
                    .box2 {
                        .listDepth1 {
                            > li {
                                .listDepth2 {
                                    li {
                                        font-size: $font-size-16;
                                        padding: 0.75rem 1.5rem;
                                        span {
                                            font-size: $font-size-16;
                                        }
                                        &.icon {
                                            i {
                                                transform: scale(0.9);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /* portfolio 설정 */
    .portfolio {
        .container {
            width: 92%;
            h3 {
                font-size: 2.125rem;
                margin-bottom: 3.125rem;
            }
            .contentsBoxWrap {
                .contentsBox {
                    margin-bottom: 7rem;
                    .leftBox {
                        width: 42%;
                        margin-right: 2rem;
                        .btnBox {
                            flex-direction: column;
                            gap: 0.5rem;
                            button {
                                width: 90%;
                            }
                            a {
                                width: 90%;
                            }
                        }
                    }
                    .txtBox {
                        width: 58%;
                        .detailDepth1 {
                            > li {
                                .detailDepth2 {
                                    .title {
                                        font-size: $font-size-18;
                                        width: 6.25rem;
                                    }
                                    .description {
                                        font-size: $font-size-16;
                                    }
                                }
                            }
                        }
                        .bottomBox {
                            p {
                                font-size: $font-size-18;
                            }
                        }
                    }
                    &.work2025 {
                        font-size: $font-size-20;
                        padding: 1rem;
                    }
                }
            }
        }
    }
    /* contact 설정 */
    .contact {
        .txtBox {
            p {
                margin-bottom: 6.25rem;
            }
        }
    }
}
/* 태블릿 구간 */
@media (max-width:768px) { 
    /* smooth-scrollbar 설정 */
    .scrollbar-track {
        width: 0.375rem !important;
    }
    .scrollbar-thumb {
        width: 0.375rem !important;
    }
    /* header 설정 */
    header {
        height: 7.6rem;
        .header-wrap {
            flex-direction: column;
            justify-content: center;
            gap: 0.8rem;
            .logo {
                transform: scale(0.9);
            }
            .menu {
                margin-right: 0;
                li {
                    font-size: $font-size-14;
                    padding: 0.25rem;
                }
            }
        }
    }
    /* main 설정 */
    main {
        .txtBox {
            width: auto;
            padding-left: 0;
            .year {
                font-size: $font-size-30;
                margin-bottom: 0.625rem;
                text-align: center;
                span {
                    width: 2rem;
                    height: 2rem;
                    top: -0.6rem;
                    left: 8.2rem;
                }
            }
            h1 {
                font-size: $font-size-32;
                text-align: center;
                b {}
            }
            h2 {
                font-size: $font-size-42;
                text-align: center;
            }
            .description {
                font-size: $font-size-16;
                text-align: center;
            }
        }
        .scrollDown {
            span {
                font-size: $font-size-12;
            }
            .mouse {
                transform: scale(0.8);
                margin-bottom: 0.25rem;
            }
            .arrowBox {
                li {
                    transform: scale(0.8);
                }
            }
        }
        img {
            &.main {
                width: 18rem;
                right: -7rem;
                bottom: -9rem;
            }
            &.blur {
                width: 6.5rem;
                left: 2rem;
                filter: blur(0.5rem);
            }
        }
    }
    /* about me 설정 */
    .aboutMe {
        margin-top: 1rem;
        .cardWrap {
            // height: 80rem;
            .txtBox {
                padding: 4.375rem 1.25rem;
                h3 {
                    font-size: $font-size-30;
                    margin-bottom: 2.5rem;
                }
                > p {
                    font-size: $font-size-16;
                    margin-bottom: 2.5rem;
                }
                .bottomBox {
                    .box1 {
                        .listDepth1 {
                                display: flex;
                                flex-wrap: wrap;
                            > li {
                                .listDepth2 {
                                    flex-direction: column;
                                    li {
                                        &.title {
                                            font-size: $font-size-16;
                                        }
                                        &.description {
                                            font-size: $font-size-14;
                                            margin-top: 0.625rem;
                                            margin-left: 0.75rem;
                                        }
                                    }
                                }
                                &.name {
                                    width: 50%;
                                }
                                &.birth {
                                    width: 50%;
                                }
                            }
                        }
                    }
                    .box2 {
                        .listDepth1 {
                            > li {
                                &.skills {
                                    margin-bottom: 0;
                                }
                                p {
                                    font-size: $font-size-16;
                                    margin-bottom: 0.875rem;
                                }
                                .listDepth2 {
                                    margin-left: 0.75rem;
                                    li {
                                        font-size: $font-size-12;
                                        padding: 0.5rem 1rem;
                                        margin-right: 0.375rem;
                                        span {
                                            display: none;
                                        }
                                        &.icon {
                                            background-color: transparent;
                                            border: none;
                                            margin-right: 0;
                                            margin-bottom: 0;
                                            i {
                                                transform: scale(0.8);
                                                margin-right: 0;
                                            }
                                        }
                                    }
                                }
                                &.education {
                                    .listDepth2 {
                                        li {
                                            font-size: $font-size-14;
                                        }
                                    }
                                }
                                .mobileSkillsInfo {
                                    display: block;
                                    li {
                                        font-size: $font-size-14;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /* portfolio 설정 */
    .portfolio {
        margin-bottom: 6rem;
        .container {
            width: auto;
            margin: 0 1.875rem;
            h3 {
                font-size: $font-size-30;
                margin-bottom: 2.5rem;
                padding-top: 4rem;
            }
            .list {
                margin-bottom: 2.5rem;
            }
            .contentsBoxWrap {
                .contentsBox {
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 4rem;
                    .leftBox {
                        width: 100%;
                        margin-right: 0;
                        margin-bottom: 2rem;
                        .btnBox {
                            flex-direction: row;
                            gap: 0.625rem;
                            button {
                                font-size: $font-size-14;
                                padding: 0.75rem 1.125rem;
                            }
                            a {
                                font-size: $font-size-14;
                                padding: 0.75rem 1.125rem;
                            }
                        }
                    }
                    .txtBox {
                        width: 100%;
                        h4 {
                            font-size: $font-size-24;
                            margin-bottom: 2rem;
                        }
                        .detailDepth1 {
                            > li {
                                margin-bottom: 1.125rem;
                                .detailDepth2 {
                                    .title {
                                        font-size: $font-size-16;
                                        width: 6rem;
                                        line-height: 1.5;
                                    }
                                    .description {
                                        font-size: $font-size-16;
                                        line-height: 1.5;
                                    }
                                }
                            }
                        }
                        .bottomBox {
                            p {
                                font-size: $font-size-16;
                                margin-bottom: 1.125rem;
                            }
                            ul {
                                li {
                                    font-size: $font-size-12;
                                    padding: 0.5rem 1rem;
                                    margin-right: 0.375rem;
                                }
                            }
                        }
                    }
                    &.work2025 {
                        font-size: $font-size-18;
                        padding: 1rem;
                    }
                }
            }
        }
    }
    /* contact 설정 */
    .contact {
        height: 37.5rem;
        .ellipse {
            width: 90rem;
            height: 60rem;
        }
        .txtBox {
            h3 {
                font-size: $font-size-30;
                margin-bottom: 2.5rem;
            }
            p {
                font-size: $font-size-16;
                margin-bottom: 4rem;
            }
            .mail {
                .link {
                    i {
                        font-size: $font-size-22;
                    }
                    b {
                        font-size: $font-size-16;
                    }
                }
                .copy {
                    font-size: $font-size-14;
                }
            }
            .copy-message {
                font-size: $font-size-16;
                padding: 1rem;
                i {
                    transform: scale(0.8);
                }
            }
        }
    }
    /* footer 설정 */
    footer {
        height: 6.875rem;
        p {
            font-size: $font-size-12;
        }
    }
    /* detailView 설정 */
    .detailView {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
}
/* 모바일 구간 */
@media (max-width: 440px) {
    /* header 설정 */
    header {
        .header-wrap {
            .logo {
                margin-left: 1.375rem;
            }
            .menu {
                li {
                    font-size: $font-size-12;
                    span {
                        padding: 0;
                        &::after {
                            height: 0.125rem;
                        }
                    }
                }
            }
        }
    }
    /* main 설정 */
    main {
        .txtBox {
            padding-left: 0;
            .year {
                font-size: $font-size-22;
                span {
                    width: 1.5rem;
                    height: 1.5rem;
                    left: 6.2rem;
                }
            }
            h1 {
                font-size: $font-size-24;
            }
            h2 {
                font-size: $font-size-30;
            }
            .description {
                font-size: $font-size-14;
            }
        }
        img {
            &.main {
                width: 13rem;
                right: -4rem;
                bottom: -3rem;
            }
            &.blur {
                width: 6rem;
            }
        }
    }
    /* about me 설정 */
    .aboutMe {
        .cardWrap {
            margin: 0 1.375rem;
            .txtBox {
                h3 {
                    font-size: $font-size-24;
                }
                > p {
                    font-size: $font-size-14;
                }
                .bottomBox {
                    .box2 {
                        .listDepth1 {
                            > li {
                                .mobileSkillsInfo {
                                    li {
                                        font-size: $font-size-12;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /* portfolio 설정 */
    .portfolio {
        .container {
            margin: 0 1.375rem;
            h3 {
                font-size: $font-size-24;
            }
            .contentsBoxWrap {
                .contentsBox {
                    .leftBox {
                        .btnBox {
                            button {
                                font-size: $font-size-12;
                            }
                            a {
                                font-size: $font-size-12;
                            }
                        }
                    }
                    .txtBox {
                        h4 {
                            font-size: $font-size-22;
                        }
                        .detailDepth1 {
                            > li {
                                .detailDepth2 {
                                    .title {
                                        font-size: $font-size-14;
                                        width: 5rem;
                                    }
                                    .description {
                                        font-size: $font-size-14;
                                    }
                                }
                            }
                        }
                        .bottomBox {
                            p {
                                font-size: $font-size-14;
                            }
                        }
                    }
                    &.work2025 {
                        font-size: $font-size-16;
                        padding: 1rem;
                    }
                }
            }
        }
    }
    /* contact 설정 */
    .contact {
        height: 37.5rem;
        .ellipse {
            width: 70rem;
            height: 40rem;
        }
        .txtBox {
            top: 10.625rem;
            h3 {
                font-size: $font-size-24;
            }
            .copy-message {
                font-size: $font-size-14;
            }
        }
    }
    /* detailView 설정 */
    .detailView {
        button {
            i {
                font-size: 2.25rem;
            }
        }
    }
}
